.previewer {
  padding: 25px 25px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto';
  color: #373D49;
  word-wrap: break-word;
  max-height: 100%;
  border: solid 1px #D3DAEA;
  border-left-color: transparent;
  border-bottom-color: transparent;

  /* Custom Markdown Styles */
  & > *:first-child {
    margin-top: 0px;
  }

  & * {
    margin: 5px 5px;
  }

  h1, h2, h3, h5, h5, h6 {
    margin-top: 20px;
    padding-bottom: 5px;
  }

  a {
    color: #0366D6;
    text-decoration: none;
    margin-left: 0px;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    padding: 2px 2px;
    background: grey;
  }

  hr {
    height: 1px;
    color: #DDDDDD;
    background-color: #DDDDDD;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

