.editor {
  overflow: auto;
  resize: none;
  padding: 25px 25px;
  outline: none;
  border-color: #D3DAEA;
  border-bottom-color: transparent;
  font-size: 15px;
  font-family: 'Roboto';
  color: #373D49;
  letter-spacing: 1px;
}