.markdown {
  display: grid;
  grid-template-rows: 7% 93%;
  grid-template-columns: 50% 50%;
}

.title-wrapper {
  border: solid 1px #D3DAEA;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 11px 25px;
  font-size: 12px;
  font-family: 'IBM Plex Sans';
  font-weight: bold;
  color: #373D49;
  letter-spacing: 1.5px;
  background: #F7FAFC;
  position: relative;
}

.title {
  position: absolute;
  top: 36%;
}

.markdown-icon, .preview-icon {
  color: #373D49;
  font-size: 13px;
  margin-right: 3px;
}
