.nav-bar {
  background: #373D49;
  border-color: #373D49;
  position: relative;

  .app-title {
    position: absolute;
    top: 36%;
    left: 25px;
    color: #fafafa;
    font-size: 20px;
    font-family: 'Questrial';
    letter-spacing: 2px;
  }
}
