.nav-bar {
  background: #373D49;
  border-color: #373D49;
  padding: 16px 20px 10px 20px;

  .app-title {
    color: #fafafa;
    font-size: 20px;
    font-family: 'Questrial';
    letter-spacing: 2px;
  }
}
