.footer {
  background: #373D49;
  text-align: center;
  font-size: 11px;
  font-family: 'Roboto';
  letter-spacing: 1px;
  position: relative;
  color: #FAFAFA;

  .copyright {
    position: absolute;
    top: 34%;
    left: 41%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}